// base styles

html, body, section[role="main"] {
	height: 100%;
}

body {
	margin: 0;
	background: purple;
	margin: 0px;
	padding: 0px;
}

.terminal {

	height: 100%;
	color: white;
	font-family: monospace;
	font-size: 16px;
	overflow: hidden;

	.terminal__output {
		position: fixed;
		list-style-type: none;
		padding: 0;
		bottom: 16px;
	}

	.terminal__input {
		height: 16px;
		position: fixed;
		bottom: 0px;
		background: darken(purple, 13);
		border: 0;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		width: 100%;
	}

	.line_command {
		color: lightgrey;
	}

	.line_error {
		color: orange;
	}

	.line_output {
		color: inherit;
	}

	.line_exit {
		color: turquoise;
	}

}
